.container{   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: var(--black);
    padding: 15% 2rem 2rem;     
    width: 80%;    
    max-width: 800px;    
    margin-top: 80px;
    height: 95%;
    overflow-y:auto
   
}
.row{
    display: flex;
    gap: 2rem;
    border-bottom: var(--white) 1px dashed;
    padding-bottom: 1rem;
}
.imgBox{
    flex:1;
width: fit-content;
height: fit-content;
}
.textBox{
flex:1
}
.textBox h4{
    margin-bottom: 1rem;
}
.textBox p{
    color: var(--grey);
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}
.textBox button{
    padding: 0.5rem
}