.background{
  width: 80%; 
  max-width: 798px;
  background-color: var(--black);
  margin: auto;
  margin-top: 3rem; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.background h4{
    text-align: justify;
}
.hogwartImg{
    padding: 0 5rem 2rem;
}
.textBox{
    display: flex;
    padding: 3rem;
    flex-direction: column;
    gap:2rem;
    justify-content: center;
    align-items: center;
    color: var(--grey);
}

.cardBox{   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
    gap: 5rem;
    margin: auto;
    justify-content: center;
    align-items: center;  
    padding: 3rem;
}
.card{
    
    width: 40%;
}