.background{
  width: 80%; 
  max-width: 1560px;
  background-color: var(--black);
  margin: auto;
  margin-top: 3rem; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.background h4{
    text-align: justify;
}
.hogwartImg{
    padding: 0 5rem 2rem;
}
.textBox{
    display: flex;
    padding: 3rem;
    flex-direction: column;
    gap:2rem;
    justify-content: center;
    align-items: center;
    color: var(--grey);
}

.cardBox{  
    width: 90%; 
    display: flex;
    align-items: center;
    justify-content: center; 
    
    margin: auto;
   
}
.imgBox{
    flex:1;

}
.listBox{
    flex: 1; 
    font-size: 0.8rem;
    color: var(--grey)
}
.listBox button{
    background-color: var(--primary);
    font-size: 0.7rem;
    padding: 0.3rem;
    margin: 0.5rem;    
}
.card{
    max-width: 700px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 1rem;
}