.card{
  width: 90%; 
  max-width: 768px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card h1, .card p{
    color: var(--grey)
}

.image{   
    margin: 1rem;
}