.container{
    display: flex;
    margin: 15% 1rem;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: var(--black);
    padding: 1rem;
    flex-wrap: wrap;
    width: 80%;
    max-width: 800px;  
    height: fit-content; 
    position: sticky;  
}
.imgBox{
 flex:1; 
 position: relative;

}

.imgBox h1{
  margin-bottom: 2rem;
}

.formBox{
 flex:1;

}

.form button{
  background-color: var(--primary);
  border: none;
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: bold;
  color: var(--white)
}