
.links{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}
.logout{
    background-color: var(--grey);
    border-radius: 20px;
    padding: 0.5rem;
    border: none;    
    color: var(--black);
    font-size: 1rem;  
}
.dropBox, .menu {
    display: none;  
}

@media (max-width: 768px){
    .links{
        display: none;
    }
    .menu{
        display: block;
        cursor: pointer;
    }
    .dropBox{
        position: absolute;
        right: 0;
        top: 60px;
        width: 180px;
        padding: 1rem;
        background-color: var(--black);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: calc(100vh-60px);    
    }    
}

