.container{
    background-color: var(--bgsoft);
    width: 100%;    
    margin: 0;
    position: fixed;
    padding: 0.5rem;
    color: var(--textDark);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-wrap: wrap;
  }
  .logo{
    font-size: 2rem;
    font-weight: bold;
  }